* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  background: white;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 0 7rem;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#home {
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

nav .logo {
  width: 300px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul a {
  color: black;
  padding: 20px;
}

#home .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70%;
}

#home .content img {
  width: 350px;
  animation: animation1 1s ease-out;
}

@keyframes animation1 {
  0% {
    transform: translateX(500px);
  }

  100% {
    transform: translateX(0);
  }
}
#home .content .text h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

#home .content .text h1 span {
  font-size: 70px;
  color: black;
}

#home .content .text p {
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.4;
  width: 60%;
  color: black;
}

.btn {
  font-size: 14px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border-radius: 30px;
  transition: all 0.2s;
}

.btn:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.social {
  margin-left: 3rem;
  animation: animation1 1s ease-out;
}

.social i {
  color: black;
  font-size: 25px;
  margin: 10px 0;
}

.social a {
  color: black;
  font-size: 25px;
  display: block;
}
@keyframes animation2 {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}

/*! tablet */
@media (max-width: 900px) {
  .container {
    margin: 0 1rem;
  }

  nav ul a {
    padding: 10px;
  }

  #home .content {
    flex-direction: column;
    text-align: center;
    padding: 2rem 0 0;
  }

  #home .content .text p {
    width: 100%;
  }

  #home .content .text {
    margin-bottom: 2rem;
  }

  #home .content img {
    width: 300px;
  }
  .social {
    margin-left: 0;
    margin-bottom: 15px;
  }
}
/* ? mobile */
@media (max-width: 600px) {
  nav {
    display: none;
  }

  nav .logo {
    display: block;
    margin: 0 auto 15px;
    width: 150px;
  }
  nav ul {
    justify-content: center;
  }
  nav ul a {
    font-size: 12px;
  }
}
